<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="robots" content="noindex, nofollow">
  

<!-- Mobile Specific Metas
================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title and meta description
================================================== -->
  

<title>Banner | U.S. Web Design System (USWDS)</title>
<meta property="og:title" content="Banner | U.S. Web Design System (USWDS)">


<meta name="description" content="The banner identifies your site as an official website of the United States government and helps visitors understand how to tell that it is official.">
<meta property="og:description" content="The banner identifies your site as an official website of the United States government and helps visitors understand how to tell that it is official.">

<meta name="twitter:card" value="summary">
<meta name="twitter:site" content="@USWDS">
<meta property="og:type" content="article">





  
  <meta property="og:image" content="/HCD-Discovery-Concept-Guide/img/uswds-logo/lg-black.png">




<!-- Include Typetura Responsive Typography
================================================== -->
<script src="https://typetura-civic.s3.us-east-2.amazonaws.com/typetura.js"></script>
<link rel="stylesheet" href="https://typetura-civic.s3.us-east-2.amazonaws.com/civic.css" />

<!-- Favicons
================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon.png">

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon-192.png">

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/HCD-Discovery-Concept-Guide/assets/img/favicons/favicon-144.png">

<!-- CSS
================================================== -->
<!-- env: dev -->

<style>
  * {
    scroll-behavior: smooth !important
  }
  h1:target,
  h2:target,
  h3:target,
  h4:target {
    position: relative;
    color: #2672de !important;
  }

  h1:target:before,
  h2:target:before,
  h3:target:before,
  h4:target:before {
    content: '•';
    position: absolute;
    left: -.75em;
  }
</style>


<link rel="stylesheet" href="/HCD-Discovery-Concept-Guide/assets/css/uswds-fonts.css">
<link rel="stylesheet" href="/HCD-Discovery-Concept-Guide/assets/css/uswds-components.css">
<link rel="stylesheet" href="/HCD-Discovery-Concept-Guide/assets/css/uswds-custom.css">
<link rel="stylesheet" href="/HCD-Discovery-Concept-Guide/assets/css/uswds-utilities.css">


  </head>
  <body class="page-banner layout-styleguide ">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

<header class="usa-header site-header site-header-dark" role="banner">
  <div class="">
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo__text">
        <a class="margin-right-05" href="/HCD-Discovery-Concept-Guide/" title="Home" aria-label="U.S. Web Design System (USWDS) home">
          <span class="site-title">HCD Guide Series</span>
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
</header>
<div class="usa-overlay"></div>

<nav role="navigation" class="usa-nav site-nav sidenav-mobile">
  <button class="usa-nav__close">
    <span class="usa-sr-only">Close</span>
  </button>

  <form
    id="search_form-mobile"
    class="usa-search usa-search--small desktop:margin-right-4"
    action="https://search.usa.gov/search"
    accept-charset="UTF-8"
    method="get">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="affiliate" id="affiliate-mobile" value="uswds" />
    <div role="search">
      <label class="usa-sr-only" for="query-mobile">Search</label>
      <input
        id="query-mobile"
        class="usa-input usagov-search-autocomplete"
        name="query"
        type="search"
        autocomplete="off"/>
      <button
        class="usa-button margin-top-0"
        type="submit"
        name="commit">
        <span class="usa-sr-only">Search</span>
      </button>
    </div>
  </form>
  <div class="usa-nav__inner">
    <ul class="usa-nav__primary usa-accordion">
      

    </ul>
    <div class="buttons">
  <a
    class="usa-button site-button-outline-secondary site-button-standards margin-x-0 desktop:margin-right-1 padding-x-05 desktop:padding-left-1 desktop:padding-right-05 desktop-lg:padding-left-205 desktop-lg:padding-right-2 font-lang-sm"
    href="/HCD-Discovery-Concept-Guide/website-standards/"
    onclick="ga('send', 'event', 'Read website standards', 'Clicked Read website standards from inside site');"
  >
    Read website standards
  </a>
  <a
    class="usa-button site-button-outline-secondary site-button-download margin-x-0 desktop:margin-right-1 desktop:padding-left-1 desktop:padding-right-05 desktop-lg:padding-left-205 desktop-lg:padding-right-2 font-lang-sm"
    href="/HCD-Discovery-Concept-Guide/download/"
    onclick="ga('send', 'event', 'Downloaded code and design files', 'Clicked Download code and design files from inside site');"
  >
    Download <span class="version desktop:display-none desktop-lg:display-inline">v2.6.0</span>
  </a>
  <a
    class="usa-button site-button-github margin-x-0 desktop:margin-right-4 font-lang-sm"
    href="https://github.com/uswds/uswds"
    onclick="ga('send', 'event', 'Viewed on Github', 'Clicked View on Github from inside site');"
  >
    <?xml version="1.0" encoding="UTF-8"?><svg
  xmlns="http://www.w3.org/2000/svg"
  width="33"
  height="32"
  viewBox="0 0 33 32"
  class="logo"
>
  <title>Github logo</title>
  <path
    fill="#161514"
    fill-rule="evenodd"
    d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.602 15.602 0 0 1 4.078-.549 15.62 15.62 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"
  />
</svg>

    <span class="text">View on GitHub</span>
  </a>
</div>


  </div>
</nav>


<div class="default-container">
  <aside class="sidenav">
    
    
  </aside>

  <main id="main-content" class="main-content">

    <div class="styleguide-content usa-prose site-prose">
      <header>
        
          
            <p class="site-subheading">Components</p>
          
        
        <h1 id="banner" class="site-page-title">Banner</h1>
        
      </header>

      <p class="site-text-intro">The banner identifies your site as an official website of the United States government and helps visitors understand how to tell that it is official.</p>




      <div class="preview usa-prose site-prose ">
  <section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="/HCD-Discovery-Concept-Guide/assets/img/us_flag_small.png" alt="U.S. flag" />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">An official website of the United States government</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner-demo">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner-demo">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="/HCD-Discovery-Concept-Guide/assets/img/icon-dot-gov.svg" alt="Dot gov" />
          <div class="usa-media-block__body">
            <p>
              <strong>The .gov means it’s official.</strong>
              <br />
              Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="/HCD-Discovery-Concept-Guide/assets/img/icon-https.svg" alt="Https" />
          <div class="usa-media-block__body">
            <p>
              <strong>The site is secure.</strong>
              <br />
              The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<section class="site-component-section">
  <div class="usa-accordion usa-accordion--bordered site-accordion-code">
  
  <button class="usa-accordion__button" aria-controls="code-banner">Component code</button>
  <div id="code-banner" class="usa-accordion__content">
    
<figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
</pre></td><td class="code"><pre><span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"usa-banner"</span> <span class="na">aria-label=</span><span class="s">"Official government website"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-accordion"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">"usa-banner__header"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-banner__inner"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"grid-col-auto"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"usa-banner__header-flag"</span> <span class="na">src=</span><span class="s">"/HCD-Discovery-Concept-Guide/assets/img/us_flag_small.png"</span> <span class="na">alt=</span><span class="s">"U.S. flag"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"grid-col-fill tablet:grid-col-auto"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"usa-banner__header-text"</span><span class="nt">&gt;</span>An official website of the United States government<span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"usa-banner__header-action"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span>Here’s how you know<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-accordion__button usa-banner__button"</span>
          <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"gov-banner-demo"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"usa-banner__button-text"</span><span class="nt">&gt;</span>Here’s how you know<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/header&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-banner__content usa-accordion__content"</span> <span class="na">id=</span><span class="s">"gov-banner-demo"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"grid-row grid-gap-lg"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-banner__guidance tablet:grid-col-6"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"usa-banner__icon usa-media-block__img"</span> <span class="na">src=</span><span class="s">"/HCD-Discovery-Concept-Guide/assets/img/icon-dot-gov.svg"</span> <span class="na">alt=</span><span class="s">"Dot gov"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-media-block__body"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>
              <span class="nt">&lt;strong&gt;</span>The .gov means it’s official.<span class="nt">&lt;/strong&gt;</span>
              <span class="nt">&lt;br&gt;</span>
              Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
            <span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-banner__guidance tablet:grid-col-6"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"usa-banner__icon usa-media-block__img"</span> <span class="na">src=</span><span class="s">"/HCD-Discovery-Concept-Guide/assets/img/icon-https.svg"</span> <span class="na">alt=</span><span class="s">"Https"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-media-block__body"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>
              <span class="nt">&lt;strong&gt;</span>The site is secure.<span class="nt">&lt;/strong&gt;</span>
              <span class="nt">&lt;br&gt;</span>
              The <span class="nt">&lt;strong&gt;</span>https://<span class="nt">&lt;/strong&gt;</span> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
            <span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/section&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>



  </div>
</div>

  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button" aria-expanded="true" aria-controls="table-docs">
      Guidance
    </button>
    <div id="table-docs" aria-hidden="false" class="usa-accordion__content site-component-usage">
      <h4>When to use the banner component</h4>
      <ul class="usa-content-list">
        <li><strong>To identify as an official government site.</strong> Most government sites should use the banner.</li>
      </ul>
      <h4>When to consider something else</h4>
      <ul class="usa-content-list">
        <li><strong>If you use neither https nor a .gov/.mil domain.</strong> The banner text calls out https and .gov/.mil domains as ways to communicate that this is an official government site. Don't use the banner if your site doesn't do those things.</li>
        <li><strong>Any time it would be misleading.</strong> The banner should be used to reduce confusion. Avoid using the banner on sites meant only for testing or experiments, or are otherwise not meant to be seen as an official website.</li>
      </ul>
      <h4>Usability guidance</h4>
      <ul class="usa-content-list">
        <li><strong>Show the banner on every site page.</strong> Use the gov banner at the top of every page of a site. It can be confusioing or misleading if it appears on some site pages and no others.</li>
        <li><strong>Don't use more than one.</strong> Don't use multiple banners at the top of a page to communicate multiple identities, like an agency banner, and a gov banner. Consolidate into a single banner instead.</li>
        <li><strong>Keep the text up-to-date.</strong> Use the most current version of the banner. Use the "Here's how you know" text from the most current version and avoid modification.</li>
        <li><strong>Use the proper TLD.</strong> If your project uses a .mil top-level domain, change the text in the "Here's how you know" section to "The .mil means it's official."</li>
        <li><strong>Avoid distraction.</strong> The banner appears on every page of your site. Choose background colors that fit with your site theme and avoid color combinations that draw excessive attention to the banner.</li>
      </ul>
      <h4 class="usa-heading">Accessibility</h4>
      <ul class="usa-content-list">
        <li><strong>Use <code>aria-label</code> to give the banner a useful name.</strong> Our default markup uses <code>aria-label="official government website"</code> to distinguish the banner <code>header</code> from the main <code>header</code>.</li>
        <li><strong>The banner's accordion uses javascript to set the <code>aria-hidden</code> value of its content area.</strong> To ensure that your content is accessible in the event that the JavaScript does not load or is disabled, you should not set <code>aria-hidden="true"</code> on <code>usa-banner__content</code>.</li>
      </ul>
      <h4 class="usa-heading">Implementation</h4>
      <ul class="usa-content-list">
        <li>The banner should directly follow the <code>skipnav</code> component.</li>
        <li>Set the width of the banner content area with <code>$theme-banner-max-width</code>.</li>
        <li>Set the banner font with <code>$theme-banner-font-family</code>.</li>
      </ul>
      <h4 class="usa-heading">Package information</h4>
      <ul class="usa-content-list">
        <li>
          <strong>Package usage:</strong> <code>@import usa-banner</code>
        </li>
        <li>
          <strong>Requires:</strong> <code>required</code>, <code>global</code>
        </li>
      </ul>
    </div>
  </div>
</section>

    </div>
  </main>
</div>


<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-footer__secondary-section">
    <div class="grid-container footer-content">
      <h3>Become part of the community</h3>
      <p>
        The Lab at OPM is both a space and practice.
      </p>
    </div>
    <div class="footer-section-bottom">
      <div class="grid-container">
        <div class="logo-links">
          <a href="http://www.gsa.gov/">
            <img src="/HCD-Discovery-Concept-Guide/img/lab-logos/Logo_2017_color_RGB-01.svg" alt="The Lab" />
          </a>
        </div>
        <p>
          The Lab is part of the Office of Personnel Management.
          
        </p>
      </div>
    </div>
  </div>
</footer>


    
  </body>
</html>
