<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-footer__secondary-section">
    <div class="grid-container footer-content">
      <h3>Become part of the community</h3>
      <p>
        The Lab at OPM is both a space and practice.
      </p>
    </div>
    <div class="footer-section-bottom">
      <div class="grid-container">
        <div class="logo-links">
          <a href="http://www.gsa.gov/">
            <img src="{{ site.baseurl }}/img/lab-logos/Logo_2017_color_RGB-01.svg" alt="The Lab" />
          </a>
        </div>
        <p>
          The Lab is part of the Office of Personnel Management.
          
        </p>
      </div>
    </div>
  </div>
</footer>
