<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<header class="usa-header site-header site-header-dark" role="banner">
  <div class="">
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo__text">
        <a class="margin-right-05" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
          <span class="site-title">HCD Guide Series</span>
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
</header>
<div class="usa-overlay"></div>

<nav role="navigation" class="usa-nav site-nav sidenav-mobile">
  <button class="usa-nav__close">
    <span class="usa-sr-only">Close</span>
  </button>

  <form
    id="search_form-mobile"
    class="usa-search usa-search--small desktop:margin-right-4"
    action="https://search.usa.gov/search"
    accept-charset="UTF-8"
    method="get">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="affiliate" id="affiliate-mobile" value="uswds" />
    <div role="search">
      <label class="usa-sr-only" for="query-mobile">Search</label>
      <input
        id="query-mobile"
        class="usa-input usagov-search-autocomplete"
        name="query"
        type="search"
        autocomplete="off"/>
      <button
        class="usa-button margin-top-0"
        type="submit"
        name="commit">
        <span class="usa-sr-only">Search</span>
      </button>
    </div>
  </form>
  <div class="usa-nav__inner">
    <ul class="usa-nav__primary usa-accordion">
      {% include nav/sections.html sections=site.data.nav.mobile %}
    </ul>
    {% include download-buttons.html %}
  </div>
</nav>
